.container {
  padding-right: 10px;
  padding-left:  10px;
  max-width:   1300px;
  margin:      0 auto;
}
.header {
  background-color:   black;
  text-transform: uppercase;
  width:               100%;
  color:              white;
}
.header-container {
  justify-content: space-between;
  align-items:            center;
  display:                  flex;
}
.sit-on-char {

}
.nav {

}
.nav-list {
  list-style-type: none;
  display:         flex;
}
.nav-item {
  margin: 0 10px;
}
.first-section {
  /* GRADIENT */
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  background-size: cover;
}
.first-section-container {
  justify-content: space-between;
  align-items:            center;
  display:                  flex;
}
.first-section-container .black-chair{
  width: 33%;
}
.first-section-container .first-section-article {
  width: 33%;
}
.left-side-sign {
  font-size: 60px;
  color:  #24BA9F;
}
.black-chair {
  background-image: url("../images/black_chair.png");
  height: 300px;
}
.first-section-article {
  text-align: center;
}
.first-section-article h2 {
  text-transform: uppercase;
}
.first-section-article p {

}
.first-section-article button {
  background-color: #24BA9F;
  border-radius:         5%;
  font-size:           24px;
  border:                 0;
  height:              50px;
  width:              200px;
  color:              white;
}
.right-side-sign {
  font-size: 60px;
  color:  #24BA9F;
}
.second-section {

}
.second-section-container {
  justify-content: space-between;
  display:                  flex;
  padding:                15px 0;
}
.second-section-container > * {
  width: 30%;
}
.second-section-images {
  border: 1px solid lightgray;
  height:               200px;
}
.chair-clair {
  background-image: url("../images/box1_img.jpg");
}
.chair-margarita {
  background-image: url("../images/box2_img.jpg");
}
.second-section-text-box {
  border: 1px solid lightgray;
  height:               220px;
}
.second-section-text-box > * {
  margin: 20px 10px;
}
